* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

/* Navigation bar styles */
.navbar {
  display: flex;
  background: url(assets/logo.png);
  background-size: 50px 50px;
  background-position-x: 40px;
  background-position-y: 1px;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #f25d06a6;
  color: white;
  padding: 13px 20px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  left: 80px;
}

.navbar-links {
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
  list-style: none;
  gap: 5vw;
  left: -50px;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: rgb(179, 76, 3);
}

/* Unique navigation effect */
.navbar-links li::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #f37312;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.navbar-links li:hover::before {
  width: 100%;
}

footer {
  display: flex;
  padding-left: 20px;
  align-items: center;
  background: rgb(20, 14, 31);
  color: rgb(240, 231, 231);
  height: 50px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #555;
}

.single-product {
  text-decoration: none;
  color: #555;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}

.title-underline {
  background-color: lightblue;
  height: 0.2rem;
  width: 7rem;
  margin: 0 auto;
  margin-top: -1px;
}

.products {
  padding: 5rem 0;
}

.products-center {
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}

.products-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.img {
  padding-top: 10px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.btn-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: red;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn-span {
  color: #555;
  font-size: 12px;
}

.btn-comment {
  font-size: 12px;
  border: none;
  background-color: rgb(217, 158, 158);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
}
